<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Application</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<main class="main-wrapper">
		<div class="l-sidebar-list js-sidebar-list">
			<div class="container"><div class="input-wrapper">
					<input type="text" class="form-control js-search">
				</div>
				<div class="sort-btn-wrapper">
					<a href="#" class="sort-btn js-sort-btn" data-sort='asc'><span class="icon-arrow_drop_down"></span></a>
					<a href="#" class="sort-btn js-sort-btn" data-sort='desc'><span class="icon-arrow_drop_up"></span></a>
				</div>
				<ul class="atms-list js-atms-list"></ul>	</div>
		</div>
		<div class="l-google-map" id="map"></div>
		<a href="#" class="c-switch-btn js-switch-btn">
			<span class="switch-btn-text js-switch js-switch-map css-js-active">View map</span>
			<span class="switch-btn-text js-switch js-switch-list">View list</span>
		</a>
	</main>

	<script id="template" type="text/handlebars">
	{{#each this}}
		<li class="list-item js-atm" data-coords={{coords}}>
			<div class="box-wrapper">
				<div class="img-wrapper">
					<img src="{{staticMap}}" alt="">
				</div>
				<div class="atm-info">
					<h4 class="atm-name">{{name}}</h4>
					<p class="atm-address">{{formatted_address}}</p>
				</div>
			</div>
			<div class="atm-distance">{{distance}}m</div>
		</li>
	{{/each}}
	</script>

	<script src="scripts/bundle.min.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC55t6DdgRualAPF7ypkhqgCuOgUR34axw&callback=initMap&libraries=places"></script>
</body>
</html>