.l-sidebar-list {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #fff;
	z-index: 2;
	&.css-js-discard { display: none; }
	.input-wrapper { margin: 20px 0 10px; }
	.sort-btn-wrapper {
		display: flex;
		justify-content: flex-end;
		.sort-btn {
			display: block;
			padding: 0 5px;
			font-size: 20px;
			color: rgba(0, 0, 0, 0.4);
			transition: all 0.5s;
			&:hover { color: #000; }
		}
	}
	.atms-list { display:flex; flex-direction: column; }
	.list-item {
		display: flex;
		padding: 15px 0;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba(57, 46, 218, 0.3);
		cursor: pointer;
		.box-wrapper {
			display: flex;
			align-items: center;
			margin-right: 5px;
		}
		.img-wrapper { margin-right: 20px; }
		.atm-name {
			margin-bottom: 0;
			font-size: 20px;
			font-weight: 500;
			line-height: 1.1;
		}
		.atm-address {
			margin: 0;
			font-size: 15px;
			line-height: 1.1;
		}
		.atm-distance {
			display: flex;
			margin-left: 10px;
			align-items: center;
			justify-content: flex-end;
			min-width: 50px;
			text-align: right;
			font-size: 20px;
			font-weight: 500;
		} 
	}
}

@media (min-width: $breakpoint-mobile) {
	.l-sidebar-list {
		position: static;
		display: flex;
		flex-direction: column;
		flex-basis: 360px;
		.list-item .img-wrapper { margin-right: 15px; }
		.sort-btn-wrapper .sort-btn { font-size: 17px; }
	}
}

@media (min-width: $breakpoint-tablet) {
	.l-sidebar-list { flex-basis: 420px; }
}

@media (max-width: $breakpoint-mobile) {
	.l-sidebar-list { display: block; }
	.css-js-list-view-inactive {
		.c-switch-btn .switch-btn-text {
			&:first-of-type { display: none; }
			&:last-of-type { display: block; }
		}
		.l-sidebar-list { display: none; }
	}
}