html, body { height: 100%; }
a, a:hover, a:focus, a:active { text-decoration: none; }
.main-wrapper {
	position: relative;
	height: 100%;
	display: block;
	overflow: hidden;
}
.l-sidebar-list {
	border-right: 1px solid rgb(122, 122, 122);
}