.c-switch-btn {
	position: fixed;
	left: 50%;
	bottom: 25px;
	display: block;
	padding: 6px 28px;
	transform: translateX(-50%);
	background-color: #28c2c7;
	border: 2px solid #28c2c7;
	border-radius: 20px;
	color: white;
	font-weight: 500;
	text-transform: uppercase;
	z-index: 3;
	&:hover { background-color: #fff; color: #28c2c7; }
	.switch-btn-text:last-of-type { display: none;	}
}

@media (min-width: $breakpoint-mobile) {
	.c-switch-btn { display: none; }
}